{% load static %}
<style>
@font-face {
    font-family: "Arkhip";
    src: url('/static/fonts/Arkhip.ttf') format('truetype');
}
@font-face {
    font-family: "Actay";
    src: url('/static/fonts/Actay.otf') format('opentype');
}
footer {
    background-color: #85735F;
    border: 2px white solid;
    border-radius: 30px;
    width: 1400px;
    height: 225px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.footer-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.logo {
    width: 75px;
    height: 70px;
    margin-bottom: 10px;
} 
.title-logo-footer {
    font-size: 1.2em;
    font-family: "Arkhip", sans-serif;
    font-weight: 400;
    font-weight: normal;
    margin-bottom: 5px;
    color: white;
    text-align: center;
}
.subtitle-logo-footer {
    font-family: "Actay";
    font-weight: 500;
    font-weight: normal;
    font-size: 0.92em;
    text-align: center;
    color: white;
}
.navbar-brand-footer {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar-brand-footer:hover {
    color: white;
}
.footer-row.footer-links {
    color: white;
    display: flex;
    justify-content: center; /* Центрирует ссылки по горизонтали */
}
.footer-link {
    margin-right: 35px; /* Увеличивает расстояние между ссылками */
    text-decoration: none;
    color: inherit;
}
.footer-link:last-child {
    margin-right: 0; /* Убирает отступ справа у последней ссылки */
}
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.phone-number {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    text-decoration: none;
}
.phone-number:hover {
    text-decoration: none;
}
.email {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-decoration: none;
    align-content: end;
}
.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.social-icons img {
    cursor: pointer;
}
@media (max-width: 768px) {
    footer {
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .footer-column {
        margin-bottom: 20px;
    }
}
</style>
<footer class="footer py-3">
    <div class="footer-column">
        <a class="navbar-brand-footer" href="{% url 'homepage:index' %}">
            <img src="/static/icons/logo.svg" alt="Александрова Надежда" class="logo">
            <span class="title-logo-footer">АЛЕКСАНДРОВА НАДЕЖДА</span>
            <span class="subtitle-logo-footer">Ваш репетитор по русскому и литературе</span>
        </a>
    </div>
    <div class="footer-row footer-links">
        <a class="nav-link footer-link" href="{% url 'homepage:index' %}#about-me">
            Обо мне
        </a>
        <a class="nav-link footer-link" href="{% url 'homepage:index' %}#advanteges">
            Преимущества
        </a>
        <a class="nav-link footer-link" href="{% url 'homepage:index' %}#feedback">
            Отзывы
        </a>
        <a class="nav-link footer-link" href="{% url 'homepage:index' %}#pricelist">
            Стоимость
        </a>
        <a class="nav-link footer-link" href="{% url 'homepage:index' %}#contacts">
            Контакты
        </a>
    </div>
    <div class="footer-column contact-info">
        <a href="tel:+79991234567" class="phone-number">8 904 698 33 44</a>
        <a href="mailto:example@example.com" class="email">aleksandrova@mail.ru</a>
        <div class="social-icons">
            <a href="..." target="_blank">
                <img src="/static/icons/tg.svg" alt="Telegram" style="width: 40px; height: 40px;">
            </a>
            <a href="..." target="_blank">
                <img src="/static/icons/vk.svg" alt="VK" style="width: 45px; height: 45px;">
            </a>
        </div>
    </div>
</footer>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var aboutProjectLink = document.querySelector('a[href="{% url 'homepage:index' %}#about-me"]');
        if (aboutProjectLink) {
            aboutProjectLink.addEventListener('click', function(event) {
                event.preventDefault();
                var targetUrl = this.href;
                var targetId = targetUrl.split('#')[1];
    
                if (window.location.pathname !== "{% url 'homepage:index' %}") {
                    window.location.href = targetUrl;
                } else {
                    var targetElement = document.getElementById(targetId);
                    if (targetElement) {
                        targetElement.scrollIntoView({ behavior: 'smooth' });
                    }
                }
            });
        }
    });
</script>